.icon {
  font-size: 3em;
}

.fa-circle-o-notch {
  animation: spinner infinite 1s linear;
}

.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-danger {
  border-left-color: #ce4844;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
